
header {
    position: fixed;
    top: 0;
    right: 10vh;
    width: 100%;
    padding: 3vh 0;
    z-index: 10;
    background-color: transparent;
}

header.header--visible {
    background-color: rgba(27, 27, 27, 0.2);
}

header a {
    text-decoration-line: none;
    color: white;
}

header a.active {
    color: #7F7F7F;
}

body {
    margin: 0;
    padding: 0;
}