main {
    font-size: 20px;
    color: #1E2022;
}

.icon {
    position: fixed;
    top: 50%;
    left: 28px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    gap: 28px;
}

.icon img {
    width: 40px;
    display: block;
    padding-top: 5vh;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    cursor: pointer;
}

.icon img.active {
    filter: grayscale(0%);
}

.intro {
    background-color: #F0F5F9;
    padding: 40vh 0;
}

.intro-me,
.intro-major {
    margin-left: 20vh;

}

.intro-me {
    font-weight: 300;
    font-size: 30px;
}

.intro-major {
    font-weight: 500;
    font-size: 40px;
}

.intro-profile {
    width: 31em;
    float: right;
    margin: -36vh 12%;
}

.about {
    background-color: #C9D6DF;
    color: #52616B;
    padding: 14vh 0 0 28vh;
}

.about-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-top: 36px;
    flex-wrap: wrap;
}

.about-content img {
    flex-shrink: 0;
    max-width: 600px;
    height: auto;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding-top: 30px;
}

.about-title {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    margin-left: -10vh;
    color: #52616B;
}

.about-exp {
    font-size: 24px;
    font-weight: 350;
    padding: 8vh 8vh;
}

.skills {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    background-color: #52616B;
    color: #C9D6DF;
    padding: 12vh
}

.section {
    min-height: 100vh;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.snap {
    height: 100vh;
    scroll-snap-align: start;
}

@media screen and (min-width: 1921px) {

    .intro-me,
    .intro-major {
        margin-left: 42vh;
    }

    .about {
        padding: 10vh 0 0 36vh;
    }

    .about-content img {
        margin-left: 10vh;
    }

    .about-exp {
        padding: 8vh 28vh;
    }
}