main {
    font-size: 20px;
    text-align: center;
    color: #1E2022;
}

.intro {
    background-color: #F0F5F9;
    padding: 300px 0 150px 0;
}

.intro-me {
    font-weight: 300;
    font-size: 30px;
}

.intro-major {
    font-weight: 500;
    font-size: 40px;
}

.about {
    background-color: #C9D6DF;
}

.skills {
    background-color: #52616B;
}