:root {
    --header-padding: 3vh;
    --site-max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--header-padding) 0;
    z-index: 1000;
    background-color: transparent;
}

header.header--visible {
    background-color: rgba(27, 27, 27, 0.2);
}

header a {
    text-decoration-line: none;
    color: white;
}

header a.active {
    color: #7F7F7F;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 var(--header-padding);
}

.all-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: -0.7em;
}

.menu {
    display: flex;
    gap: 6vh;
    font-size: 18px;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .menu {
        width: 100%;
        justify-content: center;
    }
}
