
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3vh;
}

.all-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: -0.7em;
}

.menu {
    display: flex;
    gap: 6vh;
    font-size: 18px;
}