
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 var(--header-padding);
}

.all-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: -0.7em;
}

.menu {
    display: flex;
    gap: 6vh;
    font-size: 18px;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .menu {
        width: 100%;
        justify-content: center;
    }
}
